.main {
    background-color: $test-color;
}

.container-main{
    background-color: $light-grey;
}


.navbar{
    background-color: white;
    .logo{
        height: 40px;
        margin-bottom: 10px;
    }

    .log-out{
        position: absolute;
        top: 10px;
        right: 30px;
    }

    .links{
        padding: 10px;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        a {
            color:white;
            text-decoration: none;
            width: max-content;
            margin-bottom: 10px;
        }
    }


}

.footer{
    border-top:1px solid $primary;
    margin-top: 100px !important;

    .logos{
        max-width: 100%;
    }
}




body{
    padding-bottom: 100px;
    overflow-x: hidden;
}

.main{
    margin-top:30px;
}

.carousel-item{
    background-color: $primary-dark;
}


.carrusel{
    .item{ 
        background-color: cadetblue;
        min-height: 80vh;
    }
}