.main {
    background-color: $test-color;
}

.container-main{
    background-color: $light-grey;
}

.bg-primary-light{
    background-color:$primary-light;
}

.text-justify{
    text-align: justify;
}

.text-gray{
    color:gray;
}

.loader-container{
    .loader{
        width: 100px;
        margin: auto;
        display: block;
        margin-top: 100px;
    }
}


.navbar{
    background-color: white;
    .logo{
        height: 40px;
        margin-bottom: 10px;
    }

    .log-out{
        position: absolute;
        top: 10px;
        right: 30px;
    }

    .links{
        padding: 10px;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        a {
            color:white;
            text-decoration: none;
            width: max-content;
            margin-bottom: 10px;
        }

    }


}

.footer{
    border-top:30px solid $primary-light;
    margin-top: 100px !important;

    .logos{
        max-width: 100%;
    }
}




body{
    padding-bottom: 100px;
    overflow-x: hidden;
}

.main{
    margin-top:30px;
}

.carousel-item{
    background-color: $primary-dark;
}


.carrusel{
    .item{ 
        background-color: $primary;
        min-height: 80vh;
        color:white;
    }
    .slick-dots {
        bottom: 40px !important;
    }
    .img-fluid{
        width: 450px;
        display: block;
        margin: auto;
        border: none !important;
    }
    .slick-dots li button:before {
        font-size: 16px !important;
        color: white !important;
    }
    .display-5{
        font-size: 2.5em;
    }
}

.productos{
    .row{
        margin-top: 20px;
    }
    .squad {
        background: $middle-grey;
        color: white;
        text-align: center;
        padding: 2em;
        height: 30vh;
        margin-top: 30px;
        h3{
            font-size: 1.4rem;
            text-align: center;
            word-break: break-all;
        }
        i{
            font-size: 40px;
            margin-bottom: 20px;
        }
    }
}

.bg-primary{
    background-color: $primary !important;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.hidden {
    display: none;
}