
// Colors
$primary: #0d6efd;
$primary-dark: #06306f;
$dark-grey: #363636;
$light-grey: #f4f4f4;
$middle-grey: #8d8d8d;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$test-color: white;


